[package]
name = "anu-rs"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
# ncurses = "6.0.1"
# pancurses = "*"
cursive = "*"
ahash = "0.8"
rand = "0.8"
